.adventurersContainer {
  display: flex;
  flex-direction: column;
}

.adventurerLabel {
  display: flex;
  flex-direction: column;
}

.resultsContainer {
  width: 100%;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.buttonContainer > button {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  width: 50%;
}

.onlineTitle {
  font-size: 1.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .adventurersContainer {
    flex-direction: row;
    gap: 0.5rem;
  }

  .adventurerRow {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
