.heroTitle {
  display: inline;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary-color);
}

.adventurerImage {
  width: 7rem;
  height: 7rem;
}

.titleSpan {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
