.creationContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.creationTitle {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
}

.creationButtonContainer {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.creationButton {
  border-width: 1px;
  border-color: var(--secondary-color);
  border-style: solid;
  font-size: 1.125rem;
  width: 100%;
}

.twoCreationButtons {
  width: 50%;
}
