* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'El Messiri Variable';
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Kreon Variable', 'Times New Roman', Times, serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-style: italic;
}

p a:hover {
  text-decoration-style: solid;
}

button {
  background: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

summary,
details,
article,
input,
.jobsFigure,
.craftFigure,
.adventurerRow,
.profileHeader,
.tableContainer,
.buttonContainer > button,
.supportItem,
.equipmentGrid,
.equipmentGrid div,
.rulesItem,
.formType,
.formSubmit,
.sizeListContainer > li,
.raceListItem,
.creationButton,
.nationDescription,
.faceListContainer > li,
.jobsListContainer > li,
.lostbackground,
.nationEmblem,
.nationContainer,
.custom .solid-select-control,
.custom .solid-select-option:hover,
.custom .solid-select-option[data-focused='true'],
#menu {
  border-radius: 1.5rem;
}

h1,
header,
.adventurerImage,
.craftImage,
.craftLevel,
.craftTitle,
.advImage,
.nationFigure,
.nationRank,
.nationListItem,
.navLink,
.jobTitle,
.jobLevel,
.deleteButton,
.logoutButton,
.loaderContainer,
.progress-bar-fill,
.installButton,
.updateButton,
.playButton,
.progress-bar,
.faceListContainer > li > img,
#toolLinks a,
#themeToggle {
  border-radius: 9999px;
}

.rulesItem,
.custom .solid-select-control,
.supportTitle,
.supportText,
.navLink,
.logoutButton,
.installButton,
.updateButton,
.playButton,
.authForm,
.formType,
.nationListItem,
.sizeListContainer > li,
.raceListItem,
.jobsListContainer > li,
.faceListContainer > li,
.creationButton,
.formSubmit,
.nationDescription,
.characterCreationButton,
.detailsLink,
.buttonContainer > button,
summary,
details p,
article,
footer,
input,
#menu {
  padding: 1rem;
}

.hidden {
  display: none;
}

button:hover,
input:hover {
  opacity: 0.8;
}

.custom.solid-select-container {
  color: var(--text-color);
  background: var(--background-color);
}

.custom .solid-select-control {
  outline-color: var(--secondary-color);
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
}
.solid-select-control:hover {
  opacity: 0.8;
}

.custom .solid-select-option:hover {
  background-color: var(--ternary-color);
}

.custom .solid-select-option[data-focused='true'] {
  background-color: var(--ternary-color);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  background: transparent;
  font-size: 1rem;
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  outline: none;
}

input,
button {
  font-family: 'El Messiri Variable';
  color: var(--text-color);
}

form {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* start format the awesome scrollbar chrome uses */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* end format the awesome scrollbar chrome uses */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  --background-color: #99e6dc;
  --text-color: black;
  --secondary-color: #5caed9;
  --ternary-color: #6b8dc9;
  --quaternary-color: #6eccdd;
}

html.dark {
  --background-color: #1d1c1a;
  --text-color: white;
  --secondary-color: #718071;
  --ternary-color: #3a3a33;
  --quaternary-color: #575c50;
}

@media screen and (min-width: 1024px) {
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
