.progress-bar {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;
  height: 56px;
  width: 100%;
  position: relative;
}

.progress-bar-fill {
  display: block;
  height: 100%;
  background: var(--secondary-color);
  width: 0%; /* Starts at 0%, updates with download progress */
  transition: width 30ms ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
