---
import BaseLayout from '../layouts/BaseLayout.astro'
import AdventurerDetails from '../components/adventurer/AdventurerDetails'
/* importing styles here because sometimes they wont load in their respective JSX files */
import '../styles/adventurer/adventurerDetails.css'
import '../styles/adventurer/jobs.css'
import '../styles/adventurer/equipment.css'
import '../styles/adventurer/crafts.css'
import '../styles/adventurer/hero.css'
import '../styles/adventurer/nations.css'
import '../styles/adventurer/itemModal.css'
import '../styles/adventurer/equipmentItem.css'
import '../styles/auth/deleteAdv.css'
---

<BaseLayout>
  <AdventurerDetails client:only='solid-js' />
</BaseLayout>
