---
import BaseLayout from '../layouts/BaseLayout.astro';
import LinkItem from '../components/LinkItem.astro'

const links = [
  {title: 'Discord', url: 'https://discord.gg/Hpe657nmGu', text: 'Join us on discord if you\'d like to chat, bring anything to the communities attention, or hang out.'}, 
  {title: 'Cloud', url: 'https://cloud.atavismxi.com', text: 'Personal cloud service for Atavism XI. Add files and share them.'},
  {title: 'Game Bugs', url: 'https://gitlab.com/Grahf0085/AtavismXI/-/issues', text: 'Maybe check the ASB or Horizon bug report list before submitting a bug report here.'},
  {title: 'Website Bugs', url: 'https://gitlab.com/Grahf0085/atavismxiwebsite/-/issues', text: 'These will be bugs that I actually made.'},
  {title: 'Campsitarus', url: 'https://campsitarus.blogspot.com/', text: 'Find a camp. Tent not included'},
  {title: 'FFXI Atlas', url: 'https://ffxi-atlas.com/', text: 'All the FFXI maps. Hand drawn by 1000s of adventurers over decades.'},
  {title: 'Pyogenes Time', url: 'http://www.pyogenes.com/ffxi/timer/v2.html', text: 'A fancy clock.'},
  {title: 'Skill Chain Calculator', url: 'https://flippantry.com/skillchain/', text: 'Calculus made easy.'},
  {title: 'Stats Calculator', url: 'https://ffxi-stat-calc.sourceforge.net/cgi-bin/ffxistats.cgi', text: 'Only does Algebra.'},
  {title: 'FFXIDB', url: 'http://www.ffxidb.com/', text: 'Not the database we use.'}]
---

<BaseLayout>
  <div>
    {links.map(link => <LinkItem title={link.title}, text={link.text} url={link.url} />)}
  </div>
</BaseLayout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

    @media screen and (min-width: 1024px) {
    div {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
