---
import BaseLayout from '../layouts/BaseLayout.astro'
import SupportItem from '../components/SupportItem.astro'

const waysOfSupports = [
  {
    title: 'Discord',
    text: 'Reach out in <a href="https://discord.gg/Hpe657nmGu">Discord</a> and I can address your issue as soon as possible.',
  },
  {
    title: 'Bug Reports',
    text: 'Submit a <a href="https://gitlab.com/Grahf0085/AtavismXI/-/issues"> bug report</a>. Might be best to check Air Sky Boat or Horizon bug reports first.',
  },
  {
    title: 'Unfreeze Yourself',
    text: 'Game hung or crashed during a cutscene or during dialogue? Type "!release"',
  },
  {
    title: 'Black List Someone',
    text: 'Player harassed you? Use "/blacklist"',
  },
]
---

<BaseLayout>
  <section>
    <h2>Limited Support Options</h2>
    <ul>
      {
        waysOfSupports.map((wayOfSupport) => (
          <SupportItem title={wayOfSupport.title} text={wayOfSupport.text} />
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }

  div {
    display: flex;
    flex-direction: column;
  }
</style>
