---
import { ChevronDownCircle, ChevronUpCircle } from 'lucide-astro'

const { title, text } = Astro.props
---

<details>
  <summary class='summary'
    ><h2>{title}</h2><ChevronUpCircle class='upArrow' /><ChevronDownCircle
      class='downArrow hidden'
    /></summary
  >
  <p>
    {text}
  </p>
</details>

<style>
  h2 {
    display: inline;
    font-size: 1.25rem;
  }

  summary {
    cursor: pointer;
    list-style: none; /* Remove default list-style (marker) */
    display: flex;
    justify-content: space-between;
  }

  summary::-webkit-details-marker {
    display: none; /* Hide the default arrow in WebKit browsers (Safari, Chrome) */
  }

  details {
    background: var(--quaternary-color);
    width: 100%;
    height: fit-content;
  }

  summary:hover {
    background: var(--ternary-color);
  }
</style>

<script>
  const aboutElements = document.querySelectorAll('.summary')
  const upArrowElements = document.querySelectorAll('.upArrow')
  const downArrowElements = document.querySelectorAll('.downArrow')

  aboutElements.forEach((aboutElement, index) => {
    aboutElement.addEventListener('click', () => {
      upArrowElements[index].classList.toggle('hidden')
      downArrowElements[index].classList.toggle('hidden')
    })
  })
</script>
