---
import { ChevronUpCircle, XCircle } from 'lucide-astro'
import OnlineCount from './OnlineCount.jsx'
---

<header>
  <a href='/'><h1 id='headerTitle'>Atavism XI</h1></a>
  <OnlineCount client:load />
  <button type='button' id='openMenuButton'>
    <ChevronUpCircle size='40' />
  </button>
  <button type='button' id='closeMenuButton' class='hidden'>
    <XCircle size='40' />
  </button>
</header>

<style>
  header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--text-color);
  }

  .headerTransparent {
    background: transparent;
  }

  @media screen and (min-width: 768px) {
    button {
      display: none;
    }

    header {
      display: grid;
      grid-template-columns: 9fr 1fr;
      background: var(--secondary-color);
      place-items: center;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    if (window.location.pathname === '/') {
      document.getElementById('headerTitle').classList.add('hidden')
      document.querySelector('header').classList.add('headerTransparent')
    }
  })
</script>
