---
const { title, url, text } = Astro.props
---

<article>
  <a href={url}>
    <h2>{title}</h2>
    <p>{text}</p>
  </a>
</article>

<style>
  article {
    background: var(--quaternary-color);
  }

  h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.5rem;
  }

  article:hover {
    background: var(--ternary-color);
  }

  a {
    display: block;
    height: 100%;
  }
</style>
