---
const { title, text } = Astro.props
---

<li class='supportItem'>
  <h3 class='supportTitle'>{title}</h3>
  <p class='supportText' set:html={text} />
</li>

<style>
  .supportItem {
    display: flex;
    height: 10rem;
  }

  h3 {
    font-size: 1.25rem;
    background: var(--quaternary-color);
    border-radius: 1.5rem 0px 0px 1.5rem;
    height: 100%;
    min-width: 40%;
  }

  p {
    background: var(--ternary-color);
    border-radius: 0px 1.5rem 1.5rem 0px;
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    h3 {
      min-width: fit-content;
    }

    .supportItem {
      height: fit-content;
    }
  }
</style>
