---
import { Sun, Moon } from 'lucide-astro'
---

<button type='button' id='themeToggle'>
  <Sun class='sun' />
  <Moon class='moon' />
</button>

<style>
  .sun {
    display: block;
  }

  .moon {
    display: none;
  }

  :global(.dark) .sun {
    display: none;
  }

  :global(.dark) .moon {
    display: block;
  }

  button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 2px;
    border-style: solid;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .sun,
  .moon {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    button {
      font-size: 1.25rem;
      border-style: dashed;
    }

    button:hover {
      border-style: solid;
    }

    .sun,
    .moon {
      width: 1.5rem;
      height: 2.4rem;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme')
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark'
      }
      return 'light'
    })()

    if (theme === 'light') {
      document.documentElement.classList.remove('dark')
    } else {
      document.documentElement.classList.add('dark')
    }

    window.localStorage.setItem('theme', theme)

    const handleToggleClick = () => {
      const element = document.documentElement
      element.classList.toggle('dark')

      const isDark = element.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    }

    document
      .getElementById('themeToggle')
      .addEventListener('click', handleToggleClick)
  })

  document.addEventListener('astro:after-swap', () => {
    localStorage.theme === 'dark'
      ? document.documentElement.classList.add('dark')
      : document.documentElement.classList.add('light')
  })
</script>
