---
import BaseLayout from '../../layouts/BaseLayout.astro'
import AdventurerCreation from '../../components/createAdventurer/AdventurerCreation'
---

<BaseLayout>
  <AdventurerCreation client:only='solid-js' />
</BaseLayout>
